<?php

	 // HMRC user ID and password.
	 // User ID is 'SenderID', and password is 'Value' as supplied by HMRC on
	 // application for access to the test services.
$hmrcUserId = 'XMLGatewayTestUserID';
$hmrcPassword = 'XMLGatewayTestPassword';

?>